:root{
    --color-bright: #F4F0EC;
    --color-dark: #292F36;
    --color-summary-text: #CDA274;
    --color-content: #4D5053;
    --font-family-heading: "DM Serif Display", serif;
    --font-family-body: "Jost", sans-serif;
}   