@import url('_variables.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* |-------------| General |-------------| */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--color-dark);
}

.content-wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.d-flex{
    display: flex;
}

.item-center{
    justify-content: center;
    align-items: center;
}

.vertical-center{
    align-items: center;
}

.d-none{
    display: none;
}

.title{
    font-size: 2.125rem;
}

.subtitle{
    font-size: 1.375rem;
    color: var(--color-content);
    font-family: var(--font-family-body);
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/* |-------------| Header |-------------| */

.navbar{
    height: 50px;
    width: 100%;
    position: relative;
    align-items: center;
}

.menu-icon{
    position: absolute;
    right: 20px;
    color: var(--color-dark);
    gap: 10px;
    font-size: 1.5rem;
}

.navbar .logo span{
    margin-left: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-dark);
}

.main-menu{
    position: absolute;
    top: 50px;
    right: 2000px;
    height: calc(100vh - 50px);
    width: 100vw;
    flex-direction: column;
    background-color:var(--color-bright);
    color: var(--color-dark);
}

.main-menu.menu-open{
    left: 0;
}


.main-menu li:not(:last-child){
    margin-bottom: 20px;
    font-size: 1.5rem;    
}

.main-menu li a{
    color: var(--color-dark);
    font-family: var(--font-family-body);     
}

/* Sections */

/* Hero Section */
.hero{
    height: calc(100vh - 50px);
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    height: 100%;
    justify-content: flex-start;
}

.hero-content {
    max-width: 650px;
    flex-direction: column;
    align-items: flex-start;
}
.hero-title{
    font-size: 3.438rem;
}

.hero-subtitle{
    margin-top: 9px;
    font-size: 1.375rem;
    font-family: var(--font-family-body);
    color: var(--color-content);
}

.btn{
    margin-top: 21px;
    background-color: var(--color-dark);
    font-size: 1.125rem;
    font-family: var(--font-family-body);
    color: var(--color-bright);
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn span{
    display: none;
}

/* Features Sections */

.features-container{
    margin-top: 40px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.feature-item{
    width: 300px;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.feature-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-subtitle{
    font-size: 1.4rem;
    font-family: var(--font-family-body);
    color: var(--color-content);
}

.feature-button{
    margin-top: 22px;    
    font-size: 1.125rem;
    font-family: var(--font-family-body);
    text-decoration: none;
    color: var(--color-content);
    font-weight: 600;
    gap: 12px;
}

/* Contact Section */

.contact{     
    text-align: center;    
    flex-direction: column;
    justify-content: flex-start;    
}

.contact-title{ 
    margin-top: 40px;
    font-size: 2.125rem;
    margin-bottom: 15px;
}

.phone-icon{
    width: 60px;
    height: 60px;
    background-color: var(--color-bright);
    border-radius: 50%;
}

.phone-icon img{
    width: 30px;
    height: 30px;
}

.contact-info{
    margin-top: 15px;
    gap: 20px;
}
   
.phone-number address{
    font-weight: bold;
    font-family: var(--font-family-body);
    font-style: normal;
    font-size: 1.375rem;
}

.phone-number p{
    font-size: 1.375rem;
    font-family: var(--font-family-body);
}

/* Review Section */

.review-container{
    margin-top: 40px;
    flex-direction: column;
    background-color:var(--color-bright);
    border-radius: 70px;
    gap: 38px;    
    text-align: center;
}

.review{
    flex-direction: column;    
    gap: 20px;
}

.review-item{
    background-color: #fff;
    flex-direction: column;
    border-radius: 40px;    
    padding: 20px;
}

.reviewer-photo{
    border-radius: 50%;
    margin-right: 23px;
}

.reviewer-info p:first-child{
    font-weight: bold;
}

.reviewer-info p:last-child{
    font-family: var(--font-family-body);
    color: var(--color-content);  
}
.reviewer-info p{
    font-size: 1.375rem;
}

.reviewer{
    flex-direction: row;
    margin-bottom: 25px; 
}

.review-title{
    margin-top: 44px;
}

.review-item:last-child{
    margin-bottom: 44px;
}

/* Brand Section */

.brand-list{
    flex-wrap: wrap;
    width: 400px;
    margin-top: 40px;
    gap: 50px;
}

/* Project Section */

.project-container{
    margin-top: 50px;
    width: auto;
    max-width: 700px;
    flex-direction: column;
    text-align: center;
}

.project-container p{
    margin-top: 8px;
}

.project-card{
    width: 300px;
}

.project-card:first-child{
    margin-top: 40px;
    width: 300px;
}

#project-1{
    border-radius: 0px 80px 0px 0px;
}
#project-2{
    border-radius: 80px 0px 0px 0px;
}
#project-3{
    border-radius: 0px 0px 80px 0px;
}
#project-4{
    border-radius: 0px 0px 0px 80px;    
}

.project-item{
    margin-top: 32px;
}

.project-content{
    margin-top: 24px;    
    flex-direction: column;
    gap: 20px;
}

.project-list{
    flex-direction: column;
}

.project-name{
    font-size: 1.4rem;
    font-weight: bold;
}

.project-subttile{
    font-size: 1.4rem;
    font-family: var(--font-family-body);
    color: var(--color-content);
}
.project-button-link{
    width: 50px;
    height: 50px;
    background-color: var(--color-bright);
    border-radius: 50%;
}
/* Modal */

.modal-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #292937a8;
}

.modal{
    width: 80vw;
    height: 50dvh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bright);
    font-family: var(--font-family-body);
}

.close-modal{
    margin: 10px;
}


.modal-form label:not(:first-child){
    margin-top: 10px;
}

.modal-form input{
    margin-top: 20px;
}

.modal-form{
    height: calc(100% - 50px);
    flex-direction: column;
}
  
.modal-form input[type="submit"]{
    margin-top: 20px;
}

.modal-form .btn{
    width: 100px;
}

.modal-form input:not([type="submit"]){
    height: 30px;
}

.close-modal{
    cursor: pointer;
}

/* |-------------| Media Query |-------------| */
@media screen and (min-width: 890px){
    .project-list{
        width: 650px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media screen and (min-width: 1220px) {

    /* General */
    .title {
        font-size: 3.125rem;
    }

    /* Header */
    .navbar {
        height: 138px;
    }

    .main-menu {
        position: static;
        flex-direction: row;
        height: auto;
        gap: 40px;
        justify-content: center;
        background-color: transparent;
    }

    .main-menu li:not(:last-child) {
        margin-bottom: 0;
    }

    .main-menu li a {
        font-size: 1.25rem;
        line-height: 125%;
    }

    .menu-icon {
        display: none;
    }

    /* Hero */
    .hero {
        width: 100vw;
        height: calc(100vh - 138px);
        border-radius: 0px 0px 0px 291px;
        background-size: cover;
    }

    .hero-title {
        font-size: 85px;
    }

    /* Button */
    .btn {
        width: 220px;
        height: 75px;
        font-weight: bold;
    }

    .btn span {
        display: inline;
        margin-right: 10px;
        font-weight: 600;
    }

    /* Features */
    .features-container {
        margin-top: 200px;
        flex-direction: row;
        gap: 42px;
    }

    .feature-item {
        gap: 20px;
    }

    .feature-button {
        margin-top: 32px;
    }

    /* Contact */
    .contact-container {
        margin-top: 200px;
        gap: 75px;
    }

    .contact-title {
        margin-top: 43px;
        font-size: 3.125rem;
    }

    .contact-subtitle {
        margin-bottom: 45px;
    }

    .contact-info {
        justify-content: flex-start;
    }

    .contact-image {
        display: flex;
        border-radius: 0px 326.5px 0 123px;
    }

    /* Review */
    .review-container {
        margin-top: 200px;
        padding: 44px 0;
        height: auto;
    }

    .review {
        flex-direction: row;
        align-items: stretch;
    }

    .review-item {
        min-width: 0;
        max-width: 370px;
        min-height: 340px;
        padding: 0 37px;
        align-items: flex-start;
    }

    .review-item .subtitle {
        width: 296px;
        text-align: left;
        margin-bottom: 52px;        
    }

    .review-item:last-child {
        margin-bottom: 0;
    }

    .reviewer {
        margin-top: 53px;
        justify-content: flex-start;       
    }

    .review-title {
        width: 547px;
        height: 126px;
        margin-top: 44px;
    }

    /* Brand Section */

    .brand-list{
        flex-wrap: nowrap;
        width: 1090px;
        height: 102px;
        margin-top: 150px;
        gap: 108px;
    }

    /* Project Section */

    .project-container{
        margin-top: 150px;
        max-width: 1220px;

    }

    .project-container .subtitle{
        width: 737px;
    }

    .project-card:first-child{
        margin-top: 40px;
        width: 525px;
        height: 548px;
    }

    .project-item{
        margin-top: 0;
    }

    .project-content{
        text-align: left;
        margin-top: 24px;    
        flex-direction: row;
        gap: 260px;
    }

    .project-list{
        margin-top: 93px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 56px;
    }

    .project-name{
        font-size: 1.563rem;
    }

    .project-subttile{
        font-size: 1.375rem;
    }
    
    .project-button-link{
        width: 70px;
        height: 70px;
    }

    /* Modal */
    .modal-form input:not([type="submit"]) {
        width: 300px;
    }

    .modal-form .btn {
        height: 40px;
    }

}