@import url('_variables.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* |-------------| General |-------------| */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--color-dark);
}

.content-wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.d-flex{
    display: flex;
}

.item-center{
    justify-content: center;
    align-items: center;
}

.vertical-center{
    align-items: center;
}

.d-none{
    display: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}



/* |-------------| Header |-------------| */

.navbar{
    height: 50px;
    width: 100%;
    position: relative;
    align-items: center;
}

.menu-icon{
    position: absolute;
    right: 20px;
    color: var(--color-dark);
    gap: 10px;
    font-size: 1.5rem;
}

.navbar .logo span{
    margin-left: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-dark);
}

.main-menu{
    position: absolute;
    top: 50px;
    right: 1000px;
    height: calc(100vh - 50px);
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--color-bright);
    color: var(--color-dark);
}

.main-menu.menu-open{
    left: 0;
}


.main-menu li:not(:last-child){
    margin-bottom: 20px;
    font-size: 1.5rem;    
}

.main-menu li a{
    color: var(--color-dark);
    font-family: var(--font-family-body);     
}


.hero{
    height: calc(100vh - 50px);
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.hero-content {
    max-width: 650px;
    flex-direction: column;
    align-items: flex-start;
}
.hero-title{
    font-size: 3.438rem;
}

.hero-subtitle{
    margin-top: 9px;
    font-size: 1.375rem;
    font-family: var(--font-family-body);
    color: var(--color-content);
}

.btn{
    margin-top: 21px;
    background-color: var(--color-dark);
    font-size: 1.125rem;
    font-family: var(--font-family-body);
    color: var(--color-bright);
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn span{
    display: none;
}

.modal-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #292937a8;
}

.modal{
    width: 80vw;
    height: 50dvh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bright);
    font-family: var(--font-family-body);
}

.close-modal{
    margin: 10px;
}


.modal-form label:not(:first-child){
    margin-top: 10px;
}

.modal-form input{
    margin-top: 20px;
}

.modal-form{
    height: calc(100% - 50px);
    flex-direction: column;
}
  
.modal-form input[type="submit"]{
    margin-top: 20px;
}

.modal-form .btn{
    width: 100px;
}

.modal-form input:not([type="submit"]){
    height: 30px;
}

.close-modal{
    cursor: pointer;
}

/* |-------------| Media Query |-------------| */

@media screen and (min-width: 840px) {
    .content-wrap{
        padding-left: 10px;
    }

    .navbar{
        height: 138px;
        width: 100%;
        position: relative;
    }

    .logo span{
        font-size: 2.5rem;
    }

    .logo{
        display: flex;
    }

    .main-menu{
        position: static;
        flex-direction: row;
        height: auto;
        gap: 40px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        font-family: var(font-family-body);         
    }

    .main-menu li:not(:last-child){
        margin-bottom: 0;
    }
    
    .main-menu li a{
        font-size: 1.25rem;
        color: var(--color-dark);  
        line-height: 125%;                      
    }

    .menu-icon{
        display: none;
    }

    .hero{
        height: calc(100vh - 138px);
        border-radius: 0px 0px 0px 291px;
        background-size: cover;        
    }

    .hero-content{
        flex-direction: column;
    }

    .hero-title{
        font-size: 85px;
    }

    .hero-subtitle{
        font-size: 1.375rem;
        font-family: var(--font-family-body);
    }
    .btn{
        font-size: 1.125rem;
        font-family: var(--font-family-body);
        font-weight: bold;
        color: var(--color-bright);
        width: 220px;
        height: 75px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .btn span{
        display: inline;
        margin-right: 10px;
        font-weight: 600;
    }

    .modal-form input:not([type="submit"]){
        width: 300px;
    }

    .modal-form .btn{
        height: 40px;
    }
}



